.section-brands{
    padding: 60px 0;
}
.section-brands__inner{
    position: relative;
}
.section-brands__title{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 31px;
    color: #000000;
    text-align: left;
    margin: 0 0 48px 0;
    padding: 0 68px 0 0;
}

.section-brands__items {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: nowrap;*/
    margin: -8px 0 0 -8px;
}

.section-brands__item{
    padding: 8px 0 0 8px;
}

@media screen and (min-width: 576px){
    .section-brands__title {
        font-size: 24px;
        text-align: center;
    }
}

