/*
* Components
*/
.controls {
  display: flex;
  position: absolute;
  top: 7px;
  right: 0;
}
.controls .prev {
  padding-right: 28px;
}
.controls img {
  width: 20px;
  height: 13px;
}

/*
* Modules
*/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
}

a {
  display: inline-block;
}

.header-main__top {
  background-color: #000000;
  height: 40px;
}
.header-main__top-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffff;
  text-align: center;
  margin: 0;
  padding: 11px 0;
}
.header-main__bottom {
  height: 100%;
}
.header-main__bottom-inner {
  display: flex;
  align-items: center;
  height: 72px;
  justify-content: space-between;
}
.header-main__nav {
  display: flex;
  align-items: center;
}
.header-main__nav-icon-link {
  padding: 7px;
}
.header-main__nav-icon-link .favorite img {
  width: 20px;
  height: 20px;
}
.header-main__nav-icon.is-heart {
  display: block;
}
.header-main__logo {
  padding-bottom: 7px;
}
.header-main .nav-main {
  padding: 0 59px;
  display: none;
}
.header-main .nav-main__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.header-main .nav-main__item {
  padding-right: 25px;
}
.header-main .nav-main__item.is-end {
  padding-right: 0;
}
.header-main .nav-main__item-link {
  text-decoration: none;
  font-family: "Inter-regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  vertical-align: middle;
  white-space: nowrap;
}
.header-main .nav-main__item-icon {
  vertical-align: middle;
}
.header-main__search {
  padding-right: 59px;
  flex-basis: 0;
  flex-grow: 1;
  display: none;
}
.header-main__search-form {
  position: relative;
}
.header-main__form-input {
  height: 40px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid;
  padding: 0;
}
.header-main__form-input::placeholder {
  color: #000000;
  font-family: "Inter-regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.header-main__form-input:focus-visible {
  visibility: hidden;
}
.header-main__form-btn {
  border: 0;
  padding: 0;
  background: none;
  position: absolute;
  right: 0;
  top: 13px;
}
.header-main__icons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 5px;
}
.header-main__icons-favorite {
  padding: 7px;
}
.header-main__icons-icon img {
  width: 20px;
  height: 20px;
}
.header-main__icons-icon.is-first {
  display: block;
}
.header-main__icons-icon.is-second {
  display: none;
}
.header-main__icons-icon.is-third {
  display: none;
}

@media screen and (min-width: 576px) {
  .header-main__icons-favorite {
    padding: 12px;
  }
  .header-main__nav-icon-link {
    padding: 12px;
  }
}
@media screen and (min-width: 992px) {
  .header-main .nav-main {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  .header-main__top-text {
    font-size: 14px;
  }
  .header-main__icons-icon img {
    width: 17px;
    height: 17px;
  }
  .header-main__icons-icon.is-second {
    display: block;
  }
  .header-main__icons-icon.is-third {
    display: block;
  }
  .header-main__nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-main__search {
    display: block;
  }
  .header-main__icons-icon .is-first {
    display: none;
  }
}
.section-banner__background {
  background-image: url("../../images/Hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 244px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-banner__title {
  font-family: "Inter-regular", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 62px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 16px 0;
  padding: 0;
  white-space: nowrap;
}
.section-banner__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-banner__button {
  padding: 11px 16px;
  text-decoration: none;
  font-family: "Inter-regular", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  display: flex;
  align-items: center;
}
.section-banner__button.is-left {
  background-color: #000000;
  color: #FFFFFF;
}
.section-banner__button.is-right {
  background-color: #FFFFFF;
  color: #000000;
  margin-left: 16px;
  display: none;
}
.section-banner__button img {
  height: 21px;
}

@media screen and (min-width: 576px) {
  .section-banner__background {
    height: 400px;
  }
  .section-banner__title {
    font-size: 48px;
    margin: 0 0 32px 0;
  }
  .section-banner__button.is-right {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .section-banner__background {
    height: 622px;
  }
}
.section-users {
  background: #FAF9F8;
  padding: 60px 0;
}
.section-users__inner {
  position: relative;
}
.section-users__title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  color: #000000;
  text-align: left;
  margin: 0 0 48px 0;
}
.section-users__item-content {
  text-align: center;
}
.section-users__item-content a {
  text-decoration: none;
}
.section-users__content-title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
  margin: 20px 0 0 0;
}
.section-users__content-username {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #8A8886;
  margin: 0;
}

@media screen and (min-width: 576px) {
  .section-users__title {
    font-size: 24px;
    text-align: center;
  }
}
.section-brands {
  padding: 60px 0;
}
.section-brands__inner {
  position: relative;
}
.section-brands__title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  color: #000000;
  text-align: left;
  margin: 0 0 48px 0;
  padding: 0 68px 0 0;
}
.section-brands__items {
  margin: -8px 0 0 -8px;
}
.section-brands__item {
  padding: 8px 0 0 8px;
}

@media screen and (min-width: 576px) {
  .section-brands__title {
    font-size: 24px;
    text-align: center;
  }
}
.section-categories__inner {
  border-top: 1px solid #EDEBE9;
  padding-top: 60px;
}
.section-categories__slider {
  position: relative;
}
.section-categories__title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
  color: #000000;
  text-align: left;
  padding-bottom: 60px;
}
.section-categories__items {
  margin: -8px 0 0 -8px;
}
.section-categories__item-link {
  text-decoration: none;
}
.section-categories__item {
  padding: 8px 0 0 8px;
}
.section-categories__item-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
  padding: 8px 0 8px 0;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .section-categories__title {
    font-size: 24px;
    text-align: center;
  }
}
.section-products {
  padding: 60px 0 60px 0;
}
.section-products.is-der-petite {
  background: #FAF9F8;
}
.section-products.is-der-petite .section-products__inner {
  flex-direction: row-reverse;
}
.section-products__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.section-products__product {
  padding: 0;
  width: 100%;
}
.section-products__product.is-left {
  width: 100%;
  margin-bottom: 16px;
}
.section-products__product-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-products__product-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-products__product-image-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.section-products__image-content-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #FFFFFF;
  padding-bottom: 16px;
}
.section-products__image-content-link {
  text-decoration: none;
  padding: 11px 16px;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.section-products__content-text1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-products__text1-content {
  display: flex;
}
.section-products__text1-content-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #605E5C;
}
.section-products__text1-content-text.is-opacity {
  color: #000000;
  opacity: 0.4;
  padding-right: 4px;
}
.section-products__text1-content-text.is-black {
  color: #000000;
}
.section-products__content-text2-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
}
.section-products__content-text3-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  color: #A19F9D;
  padding: 8px 0 8px 0;
}
.section-products__content-text4-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  color: #8A8886;
}
.section-products__product-items {
  display: flex;
  flex-wrap: nowrap;
  margin: -20px 0 0 -20px;
}
.section-products__product-items.is-bottom {
  padding-top: 17px;
}
.section-products__product-item {
  padding: 20px 0 0 20px;
  width: 50%;
}
.section-products .section-products__item-image img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 576px) {
  .section-products__image-content-title {
    font-size: 40px;
    line-height: 50px;
  }
  .section-products__image-content-link {
    font-size: 14px;
  }
  .section-products__content-text1 {
    flex-wrap: nowrap;
  }
  .section-products__text1-content-text {
    font-size: 14px;
  }
  .section-products__content-text2-text {
    font-size: 14px;
  }
  .section-products__content-text3-text {
    font-size: 13px;
  }
  .section-products__content-text4-text {
    font-size: 13px;
  }
}
@media screen and (min-width: 992px) {
  .section-products__inner {
    flex-wrap: nowrap;
    margin: -32px 0 0 -32px;
  }
  .section-products__image-content-title {
    font-size: 48px;
    line-height: 62px;
    padding-bottom: 34px;
  }
  .section-products__product {
    padding: 32px 0 0 32px;
    width: 50%;
  }
  .section-products__product.is-left {
    width: 65%;
    margin-bottom: 0;
  }
}
.section-new-collection__inner {
  padding: 60px 0;
}
.section-new-collection__title {
  margin: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  color: #000000;
  padding-bottom: 60px;
}
.section-new-collection__items {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.section-new-collection__item {
  padding: 0;
  width: 100%;
}
.section-new-collection__item-link {
  text-decoration: none;
}
.section-new-collection__item-link-pic {
  padding-top: 14px;
}
.section-new-collection__item-link-pic.is-first {
  padding-top: 0;
}
.section-new-collection__item-link-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-new-collection__item-link-text {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #000000;
  padding-top: 14px;
  margin: 0;
}

@media screen and (min-width: 576px) {
  .section-new-collection__items {
    margin: -21px 0 0 -21px;
    flex-wrap: nowrap;
  }
  .section-new-collection__item {
    padding: 21px 0 0 21px;
    width: 33.333%;
  }
  .section-new-collection__item-link-pic {
    padding-top: 0;
  }
}
.section-escora .container {
  padding: 0;
}
.section-escora__inner {
  padding: 60px 0;
}
.section-escora__items {
  margin: -19px 0 0 -19px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-escora__item {
  padding: 19px 0 0 19px;
}
.section-escora .section-escora__item img {
  object-fit: cover;
  width: 100%;
  min-height: 270px;
}
.section-escora__content {
  position: absolute;
  text-align: center;
  background: #FFFFFF;
  padding: 24px 20px 22px;
}
.section-escora__content-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  padding: 16px 0 16px 0;
}
.section-escora__content-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-escora .section-escora__content-link img {
  height: 16px;
}
.section-escora__content-link-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .section-escora .container {
    padding: 0 20px;
  }
  .section-escora__content {
    padding: 63px 88px 48px;
  }
  .section-escora__content-text {
    font-size: 16px;
    line-height: 25px;
    padding: 31px 0 24px 0;
  }
}
.section-calvin__items {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section-calvin__item.is-left {
  padding-right: 20px;
}
.section-calvin .section-calvin__item img {
  object-fit: cover;
  width: 100%;
  min-height: 270px;
}
.section-calvin__content {
  position: absolute;
  text-align: center;
  background: #FFFFFF;
  padding: 24px 20px 22px;
}
.section-calvin__content-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  padding: 16px 0 16px 0;
}
.section-calvin__content-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-calvin .section-calvin__content-link img {
  height: 16px;
}
.section-calvin__content-link-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .section-calvin__content {
    padding: 63px 88px 48px;
  }
  .section-calvin__content-text {
    font-size: 16px;
    line-height: 25px;
    padding: 31px 0 24px 0;
  }
}
.section-curvy-collection__inner {
  padding: 45px 0;
}
.section-curvy-collection__items {
  display: flex;
  flex-wrap: wrap;
}
.section-curvy-collection__item {
  width: 100%;
}
.section-curvy-collection__item.is-right {
  background: #FAF9F8;
}
.section-curvy-collection__item-content {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 0;
}
.section-curvy-collection__content-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
}
.section-curvy-collection__content-text {
  margin: 0;
  padding: 16px 0 32px 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}
.section-curvy-collection__content-link {
  text-decoration: none;
  padding: 6px 10px;
  background: #000000;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

@media screen and (min-width: 576px) {
  .section-curvy-collection__items {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .section-curvy-collection__inner {
    padding: 80px 0;
  }
  .section-curvy-collection__item-content {
    padding: 0;
  }
  .section-curvy-collection__content-title {
    font-size: 36px;
    line-height: 54px;
  }
  .section-curvy-collection__content-text {
    font-size: 18px;
    line-height: 27px;
  }
  .section-curvy-collection__content-link {
    padding: 11px 16px;
    font-size: 14px;
    line-height: 21px;
  }
}
.section-tagebuch {
  background: #FAF9F8;
  padding: 60px 0 60px 0;
}
.section-tagebuch__content-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  text-align: center;
  padding-bottom: 35px;
  color: #000000;
}
.section-tagebuch__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -20px 0 0 -20px;
}
.section-tagebuch__item {
  padding: 20px 0 0 20px;
  width: 100%;
}
.section-tagebuch__item-image {
  width: 100%;
  height: 100%;
}
.section-tagebuch__item-image-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-tagebuch__item-content {
  padding-top: 12px;
}
.section-tagebuch__item-content-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}
.section-tagebuch__item-content-text {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #605E5C;
  padding: 8px 0 15px 0;
}
.section-tagebuch__item-content-link {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .section-tagebuch__content-title {
    font-size: 24px;
    padding-bottom: 60px;
  }
  .section-tagebuch__item-content {
    padding-top: 24px;
  }
  .section-tagebuch__item-content-title {
    font-size: 16px;
  }
  .section-tagebuch__item-content-text {
    font-size: 14px;
    line-height: 21px;
    padding: 8px 0 24px 0;
  }
  .section-tagebuch__item-content-link {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .section-tagebuch {
    padding: 60px 0 88px 0;
  }
  .section-tagebuch__items {
    flex-wrap: nowrap;
  }
  .section-tagebuch__item {
    width: 33.333%;
  }
}
.section-gallery {
  padding: 60px 0 80px 0;
}
.section-gallery__content-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  color: #000000;
  padding-bottom: 60px;
  text-align: center;
}
.section-gallery__content-images {
  display: grid;
  column-gap: 20px;
  row-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 210px);
}
.section-gallery__content-image {
  width: 100%;
  height: 100%;
}
.section-gallery .section-gallery__content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-main {
  border-top: 1px solid #EDEBE9;
}
.footer-main .footer-top {
  padding: 30px 0 28px 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #EDEBE9;
}
.footer-main .footer-top__item {
  width: 100%;
  border-bottom: 1px solid #EDEBE9;
  position: relative;
}
.footer-main .footer-top__item.is-first {
  margin-right: 0;
  margin-bottom: 20px;
  border-bottom: 0;
}
.footer-main .footer-top__item.is-first .footer-top__item-social {
  display: none;
}
.footer-main .footer-top__item__item-social {
  margin-top: 20px;
  display: none;
}
.footer-main .footer-top__item.is-second {
  border-top: 1px solid #EDEBE9;
}
.footer-main .footer-top__contact-title {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  margin: 0;
}
.footer-main .footer-top__contact-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  margin: 16px 0 0 0;
}
.footer-main .footer-top__contact-form {
  position: relative;
  margin-top: 16px;
}
.footer-main .footer-top__form-input {
  height: 40px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  padding: 0;
}
.footer-main .footer-top__form-input::placeholder {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.footer-main .footer-top__form-input:focus-visible {
  visibility: hidden;
}
.footer-main .footer-top__form-btn {
  border: 0;
  padding: 0;
  background: none;
  position: absolute;
  right: 0;
  top: 13px;
}
.footer-main .footer-top__form-btn-img {
  width: 12px;
}
.footer-main .footer-top__contact-little-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #8A8886;
  margin: 8px 0 0 0;
}
.footer-main .footer-top__social-title {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  padding-bottom: 16px;
}
.footer-main .footer-top__social-link {
  text-decoration: none;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.footer-main .footer-top__item-title {
  margin: 12px 0 12px 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}
.footer-main .footer-top__item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
.footer-main .footer-top__list-item {
  margin-top: 4px;
}
.footer-main .footer-top__list-item-link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}
.footer-main .footer-top__item-arrow-link {
  position: absolute;
  top: 10px;
  right: 0;
  display: inline-block;
}
.footer-main .footer-top__item-arrow-link img {
  width: 12px;
}
.footer-main .footer-top__item-social {
  padding-top: 38px;
}
.footer-main .footer-top__item-social .is-small {
  display: block;
}
.footer-main .footer-bottom {
  padding: 20px 0 12px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.footer-main .footer-bottom__item {
  width: 100%;
  padding-bottom: 8px;
}
.footer-main .footer-bottom__item.is-second {
  width: 100%;
  padding-bottom: 20px;
}
.footer-main .footer-bottom__item-image {
  margin-right: 5px;
}
.footer-main .footer-bottom__item-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #8A8886;
  margin: 0;
}

@media screen and (min-width: 992px) {
  .footer-main .footer-top {
    flex-wrap: nowrap;
    padding: 62px 0 53px 0;
  }
  .footer-main .footer-top__item {
    width: 25%;
    border-bottom: 0;
  }
  .footer-main .footer-top__item.is-first {
    margin-right: 136px;
    margin-bottom: 0;
  }
  .footer-main .footer-top__item.is-first .footer-top__item-social {
    display: block;
  }
  .footer-main .footer-top__item__item-social {
    margin-top: 38px;
    display: block;
  }
  .footer-main .footer-top__item.is-second {
    border-top: 0;
  }
  .footer-main .footer-top__item-title {
    margin: 0 0 15px 0;
  }
  .footer-main .footer-top__item-social.is-small {
    display: none;
  }
  .footer-main .footer-top__item-list {
    display: block;
  }
  .footer-main .footer-top__item-arrow-link {
    display: none;
  }
  .footer-main .footer-bottom {
    flex-wrap: nowrap;
    padding: 30px 0 30px 0;
  }
  .footer-main .footer-bottom__item {
    width: 33.333%;
    padding-bottom: 0;
  }
  .footer-main .footer-bottom__item.is-second {
    width: 22%;
    padding-bottom: 0;
  }
  .footer-main .footer-bottom__item-image {
    margin-right: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
