.section-banner{

  &__background{
    background-image: url("../../images/Hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: 'Inter-regular', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 0 16px 0;
    padding: 0;
    white-space: nowrap;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    padding: 11px 16px;
    text-decoration: none;
    font-family: 'Inter-regular', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    display: flex;
    align-items: center;

    &.is-left {
      background-color: #000000;
      color: #FFFFFF;
    }

    &.is-right {
      background-color: #FFFFFF;
      color: #000000;
      margin-left: 16px;
      display: none;
    }

    img{
      height: 21px;
    }
  }

}

@media screen and (min-width: 576px) {
  .section-banner {

    &__background {
      height: 400px;
    }

    &__title {
      font-size: 48px;
      margin: 0 0 32px 0;
    }

    &__button {

      &.is-right {
        display: block;
      }
    }

  }
}

@media screen and (min-width: 992px) {
  .section-banner{

    &__background {
      height: 622px;
    }

  }
}