.section-products {
  padding: 60px 0 60px 0;

  &.is-der-petite{
    background: #FAF9F8;

    .section-products__inner{
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  &__product {
    padding: 0;
    width: 100%;

    &.is-left {
      width: 100%;
      margin-bottom: 16px;
    }

  }

  &__product-image {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__product-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__product-image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
  }

  &__image-content-title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    padding-bottom: 16px;
  }

  &__image-content-link {
    text-decoration: none;
    padding: 11px 16px;
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  &__content-text1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__text1-content {
    display: flex;
  }

  &__text1-content-text {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    color: #605E5C;

    &.is-opacity {
      color: #000000;
      opacity: 0.4;
      padding-right: 4px;
    }

    &.is-black {
      color: #000000;
    }
  }

  &__content-text2-text {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    color: #000000;
  }

  &__content-text3-text {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    color: #A19F9D;
    padding: 8px 0 8px 0;
  }

  &__content-text4-text {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    color: #8A8886;
  }

  &__product-items {
    display: flex;
    flex-wrap: nowrap;
    margin: -20px 0 0 -20px;

    &.is-bottom {
      padding-top: 17px;
    }
  }

  &__product-item {
    padding: 20px 0 0 20px;
    width: 50%;
  }

  .section-products__item-image {

    img {
      width: 100%;
      height: 100%;
    }
  }

}


@media screen and (min-width: 576px) {
  .section-products {

    &__image-content-title {
      font-size: 40px;
      line-height: 50px;
    }

    &__image-content-link {
      font-size: 14px;
    }

    &__content-text1 {
      flex-wrap: nowrap;
    }

    &__text1-content-text {
      font-size: 14px;
    }

    &__content-text2-text {
      font-size: 14px;
    }

    &__content-text3-text {
      font-size: 13px;
    }

    &__content-text4-text {
      font-size: 13px;
    }

  }
}

@media screen and (min-width: 992px) {
  .section-products {

    &__inner {
      flex-wrap: nowrap;
      margin: -32px 0 0 -32px;
    }

    &__image-content-title {
      font-size: 48px;
      line-height: 62px;
      padding-bottom: 34px;
    }

    &__product {
      padding: 32px 0 0 32px;
      width: 50%;

      &.is-left {
        width: 65%;
        margin-bottom: 0;
      }

    }

  }
}